.accessories {
    position: relative;
    width: 35%;
    height: inherit;
    margin-left: 2rem;
    padding: 0 2rem;
}

.accessories > h2 {
    color: var(--primary-color);
    margin-bottom: 3rem;
    font-size: 2rem;
}

.accessories-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.accesories-item {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 1rem 1.5rem .5rem;
    border-radius: 2rem;
    margin: 1rem 0;
    color: var(--primary-color);
    border: .1rem solid var(--primary-color);
    transition: all .3s ease-in;
}

.accesories-item .accesories-price {
    font-size: 2rem;
    font-size: 1.5rem;
    margin-right: 1rem;
    writing-mode: vertical-rl;
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    border-radius: 4rem;
    transform-origin: (0, 0);
    transform: rotate(180deg);
    display: none;
}

.accesories-item .accessories-image {
    width: 14vmin;
    height: 14vmin;
    margin-right: 1.2rem;
    background-color: rgb(235, 229, 246);
    border-radius: 50%;
    background-attachment: fixed;
    background-size: cover;
}

.accesories-item.active {
    color: white;
    width: 100%;
    background-color: var(--secondary-color);
}

.accesories-item.active .accesories-price {
    display: initial;
}

.accesories-item.active  .desc .item-qty {
    display: flex;
}

.accesories-item .desc .item-qty {
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    display: none;
}

.accesories-item .desc .item-qty .qty-control {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid white;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 0 .2rem;
    cursor: pointer;
}

.accesories-item .qty-control.pos {
    color: greenyellow;
}

.accesories-item .qty-control.neg {
    color: red;
}

.accesories-item .desc .item-qty .quantity {
    color: white;
    margin: 0 .2rem;
}